
.nav-link.disabled {
  background-color: #eee;
}

.select2.flex-wrap{
  flex: 1 1 auto;
}
.modal-content {
  border: 1px solid #5c20ab3d;
  box-shadow: 0 0px 7px 6px #4c4c4c17;
}
.modal-header{
  background: #0078d7;
  color: #fff;
  padding: 0;
  border-radius: 0;
  cursor: move;
}
.modal-header .modal-title{
  padding: 6px 10px;
  font-size: 14px;
}
.box-tool {
  position: absolute;
  right: 4px;
  top: 4px;
}